/* SECTION2 */
#section2 .m-text {
  padding: 0 20vw 0 20vw;
}

/* SECTION 7 */
#section12 img {
  padding: var(--header-margin);
}

#section12 a {
padding: calc(var(--margin)/2) var(--margin) calc(var(--margin)/2) var(--margin);
}
