/* CURRENTNUM */
#section3 .currentnum {
  right: var(--margin);
  top: var(--top-header);
}

#section4 .currentnum {
  left: var(--margin);
  bottom: var(--margin);
}

#section5 .currentnum {
  right: var(--margin);
  bottom: var(--margin);
}

/* .video-autoplay-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
} */



@media (min-aspect-ratio: 15/9) {
  iframe {
  min-width: 110vw;
  min-height: 62vw;
  transform:translate(-5vw, -5vw);
}}

@media (max-aspect-ratio: 15/9) {
  iframe {
  min-width: 195.5vh;
  min-height: 110vh;
  transform:translate(-5vh, -5vh);
}}

/* SECTION 1 */
 #section1 {
 /* background-image: url('../img/cucina/1.jpg'); */
background-position-y: center;
background-color: black;
}

/* SECTION 2 */
#section-name {
  font-family: Plakat Grotesk;
  line-height: 9.5vw!Important;
  height: 19vw;
  position: relative;
  white-space: pre;
  /* margin: 0 var(--s2margin) 0  var(--s2margin); */
  margin: auto;
}


#section-name .link-due {
  position: absolute;
  font-size: 1.3vw;
  right: 0;
}

#section-name #link-it {  top: 1.8vw }

#section-name #link-eng {  bottom: 0; transform:translate(0, 10%)}

#section2 a {
 font-family: 'Source Serif Pro', serif;
  background-color: var(--red);
  color: var(--cream);
  padding: calc(var(--margin)/3) calc(var(--margin)/2.7) calc(var(--margin)/3) calc(var(--margin)/2.7);
}

/* SECTION 5 */

#section6 .sect-outerbox {
  padding: var(--header-margin)!Important}


#section6 .sect-outerbox .col-12.d-inline {
padding: 0 6vw 0 6vw}

#section6 .sect-outerbox .col-md-6 {
padding-left: calc(var(--margin)/2);
padding-right: calc(var(--margin)/2);
}

/* SECTION 6 */

#section7 .sect-outerbox {
  padding: var(--top-header) calc(var(--margin)*1.5) var(--margin) calc(var(--margin)*1.5)!Important
}


#section7 a {
  cursor: pointer;
}

#section7 a:hover{color: var(--cream)!Important;
  text-decoration: none;
}

#section7 span:hover{text-decoration: underline}


/* #section8 {
  height: 50vh;
}

#section8 a{
  color: var(--cream);
  padding: calc(var(--margin)/2) var(--margin) calc(var(--margin)/2) var(--margin);
} */

#section8 a:hover{
  color: var(--cream)
}

/* MASCHERE */
#section4 #ph-b {
  object-position: center -10%;
}

#section4 #ph-d {
  object-position: center 80%;
}

#section3 #ph-d {
  object-position: center 30%;
}
