/* SECTION 1 */
#section1 {
/* background-image: url('../img/cucina/1.jpg');
background-position: center; */
background-color: black;
}

iframe {
  width: 400vw;
  height: 400vh;
  position: absolute;
  top: -150vh;
  left: -150vw;
}

#overlay {
animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* SECTION 2  */
#section-name {
  width: 100%;
  text-align: center;
}

#section2 a {
 font-family: 'Source Serif Pro', serif;
 font-size: 4vw;
  text-decoration: underline;
}

/* SECTION 5 */

#section5 img {
object-position: center;
}

/* SECTION 6 */

#section6 .s-t-mob {
  line-height: 6.5vw;
}

/* SECTION 7 */
#section7 .l-t-mob {
  padding: var(--margin);
  white-space: pre;
}

/* SECTION 8 */
#section8 {
  min-height: 0;
  height: 40vh;
}

#section8 a{
  color: var(--cream);
  padding: calc(var(--margin)/2.5);
}

#section8 a:hover, #section8 a:active{
  color: var(--cream)
}
