/* CURRENTNUM */
#section3 .currentnum {
  right: var(--margin);
  top: var(--top-header);
}

#section4 .currentnum {
  left: var(--margin);
  bottom: var(--margin);
}

#section5 .currentnum {
  right: var(--margin);
  bottom: var(--margin);
}

/* .video-autoplay-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
} */


#overlay {
  transition: opacity 2s;
/* animation: fadeIn 3s ease forwards; */
}
/*
@keyframes fadeIn {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
} */

iframe {
  width: 120vw;
  height: 120vh;
  position: absolute;
  top: -6vh;
  left: -10vw;
  z-index: 0;
}

/* SECTION 1 */
 #section1 {
 background-image: url('../img/cucina/1.jpg');
background-position-y: center;
}

/* SECTION 2 */

#section-name {
  font-family: Plakat Grotesk;
  line-height: 9vw!Important;
  height: 19vw;
  position: relative;
  white-space: pre;
}


#section-name .duelink {
  position: absolute;
  font-size: 1.3vw;
  top: 1.8vw;
  right: 0;
  /* right: 4.5vw;
  top: 14vw; */
}

#section2 a {
 font-family: 'Source Serif Pro', serif;
  background-color: var(--red);
  color: var(--cream);
  padding: calc(var(--margin)/3) calc(var(--margin)/2.7) calc(var(--margin)/3) calc(var(--margin)/2.7);
}

/* SECTION 6 */

#section6 .sect-outerbox {
  padding: var(--top-header) 4vw var(--margin) 4vw!Important}

#section7 img {
  padding: var(--header-margin);
}

#section8 {
  height: 50vh;
}

#section8 a{
  color: var(--cream);
  padding: calc(var(--margin)/2) var(--margin) calc(var(--margin)/2) var(--margin);
}

#section8 a:hover{
  color: var(--cream)
}

/* MASCHERE */
#section3 #ph-b {
  object-position: center -23%;
}

#section3 #ph-d {
  object-position: center 80%;
}

#section4 #ph-d {
  object-position: center 30%;
}
