/* SECTION 1 */
#section1 {
/* background-image: url('../img/cucina/1.jpg'); */
background-color: black;
background-position: center;
max-height: 100vh;
}

#overlay {
animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* SECTION 2  */
#section-name {
  width: 100%;
  text-align: center;
}

/* SECTION3 e 6 */
@media (max-aspect-ratio: 1/1) {

#section3 .col-md-6, #section6 .col-md-6  {
min-height: 50vh;
}
}

@media (min-aspect-ratio: 1/1) {
#section3 .col-md-6, #section6 .col-md-6  {
min-height: 100vh;
}
}

/* SECTION 4 */
#section4 #ph-a {
  object-position: center top;
}

#section4 #ph-c {
  object-position: center 80%;
}

/* SECTION 6 */

/* #section6 .s-t-mob {
  line-height: 5vw;
}

#section6 .sect-outerbox {
  padding: var(--margin) calc(var(--margin)/2) var(--margin) calc(var(--margin)/2);
}

#section6 .col-md-4 {
  padding-left: calc(var(--margin)/2);
  padding-right: calc(var(--margin)/2);
} */

/* SECTION 8 */
#section8 {
  min-height: 0;
  height: 40vh;
}

#section8 a{
  color: var(--cream);
  padding: calc(var(--margin)/2.5);
}

#section8 a:hover, #section8 a:active{
  color: var(--cream)
}

/* #section7 a {min-height: 100vh} */

/* VIDEO */
  .player {
  min-width: 160vw;
  min-height: 110vh;
  transform:translate(-30vw, -10vh);
}
