/* SECTION 1 */
 #section1 {
 background-image: url('../img/cucina/1.jpg');
background-position-y: center;
}

/* SECTION 2 */

#section-name {
  font-family: Plakat Grotesk;
  line-height: 9vw!Important;
  /* border: solid; */
  height: 17vw;
}


#section-name .m-text {
  position: absolute;
  right: 4.5vw;
  top: 14vw;
}

#section2 a {
 font-family: 'Source Serif Pro', serif;
  background-color: var(--red);
  color: var(--cream);
  padding: calc(var(--margin)/3) calc(var(--margin)/2.7) calc(var(--margin)/3) calc(var(--margin)/2.7);
}

/* SECTION3 */
#mezzapagnotta {
  object-position: center 4vw;
}

/* SECTION 5 */
#piattodacentrare {
object-position: center -9.2vw;
}

/* SECTION 6 */
#section6 .s-text {
  line-height: 2vw;
}

#section7 img {
  padding: var(--header-margin);
}

#section8 {
  height: 50vh;
}

#section8 a{
  color: var(--cream);
  padding: calc(var(--margin)/2) var(--margin) calc(var(--margin)/2) var(--margin);
}

#section8 a:hover{
  color: var(--cream)
}
