/* CURRENTNUM */
#section3 .currentnum {
  right: var(--margin);
  bottom: var(--margin);
}

#section4 .currentnum {
  left: var(--margin);
  top: var(--top-header);
}

#section5 .currentnum {
  left: var(--margin);
  bottom: var(--margin);
}

#section6 .currentnum {
  right: var(--margin);
  top: var(--top-header);
}

/* SECTION 3 */
#section3 #ph-a {object-position: center 35%;}
#section3 #ph-b {object-position: center 27%;}
#section3 #ph-c {object-position: center 80%;}
#section3 #ph-d {object-position: center 27%;}
#section3 #ph-e {object-position: center 70%;}

#section4 .carousel img {
  object-position: center 12%;
}

#section6 #ph-c {
  object-position: center 0%;
}

#section-name {transform: translate(0, -10%) }
