/* CURRENTNUM */
#section3 .currentnum {
  right: var(--margin);
  bottom: var(--margin);
}

#section4 .currentnum {
  left: var(--margin);
  top: var(--top-header);
}

#section5 .currentnum {
  left: var(--margin);
  bottom: var(--margin);
}

#section6 .currentnum {
  right: var(--margin);
  top: var(--top-header);
}

/* SECTION 3 */
#section3 .carousel img {
  object-position: center 10%;
}

#section3 #ph-c {
  object-position: 45% center}

#section4 .carousel img {
  object-position: center 12%;
}

#section6 #ph-c {
  object-position: center 0%;
}

#section-name {transform: translate(0, -10%) }
