/* SECTION 1 */
#section1 {
background-image: url('../img/eventi/1.jpg');
background-position-y: center;
}


/* CURRENTNUM */
#section3 .currentnum {
  right: var(--margin);
  bottom: var(--margin);
}

#section4 .currentnum {
  left: var(--margin);
  top: var(--top-header);
}

#section5 .currentnum {
  left: var(--margin);
  top: var(--margin);
}

#section6 .currentnum {
  right: var(--margin);
  top: var(--margin);
}
