/* SECTION 1 */
#section1 {
background-image: url('../img/eventi/1.jpg');
max-height: 100vh;
}


/* VIDEO SEC*/
/* #left-bar, #right-bar {
  position: absolute; z-index: 10; height: 100%; width: var(--margin);
} */

/* @media (min-width: 992px) { #left-bar, #right-bar {width: 8.33vw} } */

/* #bottom-bar, #top-bar {
  height: var(--margin); position: absolute; z-index: 10; width: 100vw;
} */

#section3 {padding: var(--margin); min-height: 100vh}


/* VIDEO */
  iframe {
  min-width: 110vw;
  min-height: 110vh;
  transform:translate(-20vw, -10vh);
}
