:root {
/* LAYERS Z-INDEX */
  --bottom-layer: 0;

/* MARGINS */
  --margin: 4.5vw;

  /* COLORS */
  --red: #bf2e2e;
  --cream: #fff9f8;

  --sab: env(safe-area-inset-bottom);
}


/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

/* GLOBAL */
body {
  max-width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  box-sizing: content-box;
  scrollbar-width: none;
}

/* html, body {
  height: calc(100vh - env(safe-area-inset-bottom));
} */

main {
  /* height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  height: calc(100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)); */
}

main::-webkit-scrollbar {
  display: none;
}

.standard-margin {
  padding: var(--margin);
}


img {
  object-fit: cover;
}


/* INTRO */
#header-logotype {
  width: 100%;
  position: absolute;
  padding: var(--margin);
  z-index: 20;
  left: 0;
  top: 0;
}

#intro-logomark {
  display: none;
}


/* TEXT */
.s-t-mob {font-size: 3.2vw; line-height: 4.6vw;}
.m-t-mob, .m-text {font-size: 4vw; line-height: 5.9vw;}
/* .l-t-mob {font-size: 5.5vw; line-height: 6.5vw;} */
.l-t-mob {font-size: 6vw; line-height: 6.5vw;}
.xl-t-mob {font-size: 8vw; line-height: 10vw;}

a { text-decoration: none;}

body {
  text-align: justify;
}



@font-face {
    font-family: "Plakat Grotesk";
    src: url("../font/PlakatGrotesk-Regular.otf") format("opentype"),
    url("../font/PlatakGrotesk-Regular.eot") format("embedded-opentype"),
   url("../font/PlatakGrotesk-Regular.woff") format("woff"),
   url("../font/PlatakGrotesk-Regular.woff2") format("woff2");
   font-weight: normal;
    font-style: normal;
  }

  @font-face {
      font-family: "Plakat Grotesk";
      src: url("../font/PlakatGrotesk-Bold.otf") format("opentype"),
      url("../font/PlatakGrotesk-Bold.eot") format("embedded-opentype"),
     url("../font/PlatakGrotesk-Bold.woff") format("woff"),
     url("../font/PlatakGrotesk-Bold.woff2") format("woff2");
     font-weight: bold;
      font-style: normal;
    }

  .l-t-mob {
    /* margin-bottom: var(--margin); */
    font-family: "Plakat Grotesk";
    font-style: normal;
  }

/* HAMBURGER MENU */

#hamburger-icon {
  width: 10vw;
  position: fixed;
  margin: var(--margin);
  /* bottom: env(safe-area-inset-bottom); */
  bottom: 0;
  left: 0;
  z-index: 20;
}

.menu-closed { transform:translate(-100%, 0) }

.opened { transform: none; }


header {
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  width: 60vw;
  background-color: var(--red);
  z-index: 20;
  gap: calc(var(--margin)*1.8);
  padding: calc(var(--margin)*1.8);
  transition: transform 0.3s;
}

header a {color: var(--cream)}

header a:active, header a:hover, header a:visited {
  color: var(--cream) }

#header-active {
background-color: var(--cream);
color: var(--red);
padding: 2vw;
}


/* BACKGROUNDS */

.bg-red, .bg-red-mob {
  background-color: var(--red);
  color: var(--cream)
}

.bg-red a, .bg-red-mob a {
color: var(--cream)
}

.bg-red a:active, .bg-red-mob a:active, .bg-red a:hover, .bg-red-mob a:hover, .bg-red a:visited, .bg-red-mob a:visited {
color: var(--cream)
}

.bg-cream, .bg-cream-mob {
  background-color: var(--cream);
  color: var(--red)
}

.bg-cream a, .bg-cream-mob a{
color: var(--red)
}

.bg-cream a:hover, .bg-cream-mob a:hover, .bg-cream a:active, .bg-cream-mob a:active, .bg-cream a:visited, .bg-cream-mob a:visited {
color: var(--red)
}


/* CAROUSEL */

.carousel {height: 50vh}
.carousel-inner, .carousel-item, .carousel img {height: 100%;}
.carousel-item span { display: none; }


/* ALL SECTIONS */
section {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}

section .col-md-6 {
  min-height: 50vh;
}

.sect-outerbox {
  padding: var(--margin);
  gap: var(--margin);
}

/* SECTION 1 */

#section1 .carousel {  height: 100vh }


/* SECTION 2 */

#section2 {
  height: auto;
  min-height: 50vh;
  padding: var(--margin);
}

#section-name {
  font-family: Plakat Grotesk;
  font-size: 10vw;
  line-height: 10vw;
  /* transform:translate(0, -55%); */
  margin-bottom: var(--margin);
}


/* CLOSING SECTION */

#closingsection {
  min-height: 0;
  height: 25vh;
}

#closingsection img {
  height: 50%;
}

/* NON SO COS'ERA */

/*
.carousel-inner-line {
  position: absolute;
  bottom: var(--margin);
  color: var(--cream);
  left: var(--margin);
  right: var(--margin);
} */
