/* CENTERS THE NUMBERS */
.mobile-centered {
  position: absolute;
  width: 91vw;
}

.sect-outerbox .standard-margin {
  padding: 0;
}


.flex-row-reverse .d-md-none {z-index: 10}

.m-text.plakat{
  font-size: 4.5vw!Important;
}

/* .flex-row-reverse .l-text {font-family: Plakat Grotesk; font-size: 4.5vw!Important} */

#section6 .flex-row-reverse .l-text {white-space: pre}

/* SECTION1 */
#section1 .l-t-mob {
font-family: 'Source Serif Pro', serif!Important;
}

#section1 span {  display: none }

#sec1-link {
  position: absolute;
  right: 0;
  padding: 0 var(--margin) 4.4vw 0;
  bottom: 0;
  text-align: right;
  transition: top 1s;
  font-size: 6vw; line-height: 6.6vw;
  opacity: 0;
}

#sec1-link div {
  display: flex;
  flex-direction: column;
}

@media (max-width:575.9px) {
  #sec1-link {transform:translate(0, -0.1vw)}
}

@media (min-width:576px) {
  #sec1-link {
    font-size: 4vw; line-height: 4.6vw;
  }
}

#sec1-link a {
  color: var(--cream);
}


/* SECTION2 */
#section2 {
  padding: 0!Important;
}

#section2 .col-12 {  min-height: 50vh; gap: calc(var(--margin)*2) }


#section2 .m-text {
/* padding: var(--margin) var(--margin) 0 var(--margin); */
padding: calc(var(--margin)*2) var(--margin) calc(var(--margin)*2) var(--margin) ;
display: flex;
flex-direction: column;
justify-content: space-between;
}

#section2 img {
  height: 50vh;
  width: 100%;
}

#section2 .m-text img {
width: 30vw;
margin: auto;
height: auto!Important;
object-fit: scale-down;
}

/*SQUARE OR HORIZONTAL WINDOW */
@media (min-aspect-ratio: 1/1) {
  #section2 .col-12 {  min-height: 100vh }

  #section2 img {
    height: 100vh;
  }
  }


/* SECTION 3 & 4 */
.sect-innerbox{
  justify-content: space-between;
  gap: var(--margin);
}

/* SECTION 5 & 6 */
#section5 {
  justify-content: space-between;
}

#section5 .flex-column, #section6 .flex-column {
  padding: var(--margin);
  height: 50vh }


#section5 .justify-content-betweenn {
gap: var(--margin);
}

  /*SQUARE OR HORIZONTAL WINDOW */
@media (min-aspect-ratio: 1/1) {
#section5 .flex-column, #section6 .flex-column {  height: 100vh }
  }

#sectext {
  height: 100%;
  align-content: center;
}

#outerbox-link {display: none}



/* SECTION 7 */
#section7 {padding: var(--margin); min-height: 100vh}

#section7 img {width: 80%}

/* #section7 {
  flex-wrap: wrap;
  height: min-content;
  padding: var(--margin);
  min-height: 0;
}

#section7 .col-6 {
  align-self: flex-start;
  padding-top: var(--margin);
}

#section7 img {
  object-fit: fill;
  width: 100%;
  padding: var(--margin) var(--margin) calc(var(--margin)*1.5) var(--margin);
} */

/* SECTION 8 */
#jobssect {
  position: absolute;
  transform:translate(0, -35%)
}

#jobssect #arrow {
  display: none;
}

/* SECTION 8 */
#section8 {
/* height: min-content; */
padding: var(--margin);
min-height: 0;
  /* justify-content: space-between; */
}

#sec8bottom {
  /* height: 40vh; */
  justify-content: space-between;
  gap: calc(var(--margin)*1.5);
}

#sec8bottom {
  /* height: 40vh; */
  justify-content: space-between;
  gap: calc(var(--margin)*2);
  margin-top: var(--margin);
}


#sec8bottom .col-12 {
gap: calc(var(--margin)*2);
  /* gap: var(--margin); */
}

#arrow {
  width: 3.1vw;
  padding: 0.4vw;
}

#jobssect a {
  padding: calc(var(--margin)/2.6);
}

#indentfooter {
  transform:translate(-3.5vw, 0)
}

#flowersphoto {
height: 50vh; background-position-y: 73% }

@media (min-aspect-ratio: 2/3) {
#flowersphoto { background-position: center; height: 100vh!Important }
}
