/* CAROUSELS */
.carousel {cursor: pointer}
.carousel div {height: 100%}
.carousel img {height: 100%}

.carousel-item span {
  position: absolute;
  color: var(--cream);
}




#section3 .carousel-item span {
  right: var(--margin);
  bottom: var(--margin);
}

#section4 .carousel-item span {
  left: var(--margin);
  top: var(--top-header);
}

#section5 .carousel-item span {
  left: var(--margin);
  top: var(--margin);
}

#section6 .carousel-item span {
  right: var(--margin);
  top: var(--margin);
}

/* SECTION1 */
#sec1-link {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  gap: calc(var(--margin)/2.5);
}

#sec1-link a {
  color: var(--cream);
  /* padding: calc(var(--margin)/2.5) calc(var(--margin)/2) calc(var(--margin)/2.5) calc(var(--margin)/2); */
}


/* SECTION 2 */
#section2 img {
  width: 80%; height: 30vh;
  /* padding: 2.5vw;  */
  object-fit: cover;
  margin-bottom: calc(var(--margin)*2);
}

#section2 .m-text {
  padding: 0 26vw 0 27vw;
}

#section2 .m-text img {
  display: none;
}

.sect-outerbox {
  padding: 21vh 14vw 17vh 14vw;
}



/* SECTION 5 e 6*/

#section5 .col-sm-4 div, #section6 .col-sm-4 div {
gap: var(--margin)
}

#section5 .carousel {  padding: var(--top-header) 0 var(--margin) var(--margin) }

#section6 .carousel {  padding: var(--top-header) var(--margin) var(--margin) var(--margin) }

#section5 .col-sm-4, #section6 .col-sm-4  {
  padding: var(--top-header) var(--margin) var(--margin) var(--margin);
}

#section5 #sectext .m-text, #section6 #sectext .m-text {
  margin-top: calc(var(--margin)*1.5);
}

/* SECTION 7 */
#section7 img {
  width: 100%;
}

/* SECTION 8 */
#section8 {
  padding: var(--top-header) var(--margin) var(--margin) var(--margin);
    /* padding-top: var(--top-header); */
    /* gap: var(--margin); */
}

#section8 .col-sm-9 .col-12 {
  padding-left: var(--margin);
  height: 100%;
}

#sec8bottom {
  height: 100%;
}

#sec8bottomright {
  height: min-content;
  padding-left: var(--margin)
}

#arrow {
  width: 1.1vw;
  padding: 0.2vw;
}


#jobssect {
  transform:translate(0, -0.7vw)
}

#jobssect a{
  padding: 0.4vw 0.7vw 0.4vw 0.7vw;
}

#indentfooter {
  transform:translate(-1.37vw, 0)
}

.s-text {
  text-align: justify;
}

#sectext {
  width: 90%;
}
