/* SECTION2 */
#section2 .m-text {
  padding: 0 20vw 0 20vw;
}


/* SECTION 4 */

#section4 {
  padding: var(--header-margin)
}

#section4 .d-flex {
  height: 100%;
  background-image: url('../img/luoghi/1d.jpg');
  background-size: 100%;
  color: var(--cream);
  margin: auto;
  padding: var(--margin);
}


#section9 {
  height: 40vh;
}

#section9 img {
  height: 70%;
}
