/* CURRENTNUM */
#section3 .currentnum {
  right: var(--margin);
  bottom: var(--margin);
}

#section5 .currentnum {
  left: var(--margin);
  top: var(--top-header);
}

#section6 .currentnum {
  left: var(--margin);
  bottom: var(--margin);
}

#section7 .currentnum {
  right: var(--margin);
  top: var(--top-header);
}

#section8 .currentnum {
  right: var(--margin);
  bottom: var(--margin);
}


/* SECTION 4 */
#section4 {
  padding: var(--header-margin)
}

#section4 .d-flex {
  height: 100%;
  background-image: url('../img/luoghi/3a.jpg');
  background-size: 100%;
  color: var(--cream);
  margin: auto;
  padding: var(--margin);
}


#section9 {
  height: 40vh;
}

#section9 img {
  height: 70%;
}
