/* CAROUSELS */
.carousel {cursor: pointer}
.carousel-item {height: 100%}
.carousel img {height: 100%}


.carousel-item {
}

.carousel-inner-line {
  position: absolute;
  bottom: var(--margin);
  color: var(--cream);
  left: var(--margin);
  right: var(--margin);
}


.sect-outerbox {
  height: 100%;
  padding: var(--top-header) 10vw var(--margin) 10vw;
  gap: calc(var(--margin)*3);
}

.sect-outerbox .s-text {
  text-align: justify;
}

/* SECTION 1 */
/* #section1 {
background-image: url('././img/luoghi/1d.jpg');
background-position-x: center;
} */

/* SECTION2 */
#section2 .m-text {
  padding: 0 20vw 0 20vw;
}


/* SECTION 4 */

#section4 {
  padding: var(--header-margin)
}

#section4 .d-flex {
  height: 100%;
  background-image: url('../img/luoghi/1d.jpg');
  background-size: 100%;
  color: var(--cream);
  margin: auto;
  padding: var(--margin);
}


#section9 {
  height: 40vh;
}

#section9 img {
  height: 70%;
}
