/* CURRENTNUM */
#section3 .currentnum {
  right: var(--margin);
  bottom: var(--margin);
}

#section4 .currentnum {
  left: var(--margin);
  top: var(--top-header);
}

#section5 .currentnum {
  left: var(--margin);
  bottom: var(--margin);
}

#section6 .currentnum {
  right: var(--margin);
  top: var(--top-header);
}

#section12 .sect-outerbox .s-text {
  line-height:2.8vw;
}

#section12 img {
  object-position: center 80%;
}

#section1 img {
  object-position: center bottom;
}

/* FEDERICA */
#section3 #ph1 {object-position: left bottom}
#section3 #ph2 {object-position: left bottom}
#section3 #ph6 {object-position: center 70%}
#section3 #ph7 {object-position: center 60%}

/* VITTORIA */
#section4 #ph1 {object-position: center bottom}
#section4 #ph2 {object-position: right bottom}
#section4 #ph3 {object-position: 30% bottom}
#section4 #ph4 {object-position: center bottom}
#section4 #ph5 {object-position: center bottom}
#section4 #ph6 {object-position: left bottom}
#section4 #ph7 {object-position: 80% bottom}
#section4 #ph9 {object-position: 30% bottom}
#section4 #ph10 {object-position: center bottom}
#section4 #ph11 {object-position: center 90%}

/* SECTION5 */
#section5 #ph-b {object-position: center top}

/* SECTION 6 */
#section6 #ph-a {object-position: 22% center}
#section6 #ph-b {object-position: center 45%}
