/* SECTION 12 */
#section13 {
  min-height: 0;
  height: 75vh;
}

#section13 a {
padding: calc(var(--margin)/2) calc(var(--margin)/3) calc(var(--margin)/2) calc(var(--margin)/3);
  color: var(--red);
}
