/* CAROUSELS */
.carousel {cursor: pointer}
.carousel-item {height: 100%}
.carousel img {height: 100%}


.carousel-item {
}

.carousel-inner-line {
  position: absolute;
  bottom: var(--margin);
  color: var(--cream);
  left: var(--margin);
  right: var(--margin);
}


.sect-outerbox {
  height: 100%;
  padding: var(--top-header) 13vw var(--margin) 13vw;
  /* padding: 15vw 13vw 10vw 13vw; */
  gap: calc(var(--margin)*3);
}

/* SECTION 1 */
#section1 img {
margin-bottom: var(--margin)
}

/* SECTION 2 */
#section2 .m-text {
  text-align: justify;
}

/* SECTION 3 */
#section3 {
  background-image: url("../img/storia/2.png");
  background-size: cover;
  background-color: var(--red);
}

/* SECTION 4 */

#section4 {
  padding: var(--header-margin)
}

#section4 .m-text {
  text-align: justify;
}

/* SECTION4 */

#section4 {
padding: var(--header-margin);
}

#section4 .s-text {
position: absolute;
top: 0;
padding: var(--header-margin)
}

#section4 img {
  margin-bottom: calc(var(--margin)*3);
  width: 20vw;
}

/* SECTION 5 */
#section5 {
    background-image: url("../img/storia/4.png");
    background-size: contain;
    background-position: center;
    text-align: center;
}


/* SECTION 6 */
#section6 img {
    padding: var(--header-margin);
    width: 100%;
    height: 100%;
    object-fit: contain;
}
