/* CURRENTNUM */
#section3 .currentnum {
  right: var(--margin);
  bottom: var(--margin);
}

#section4 .currentnum {
  left: var(--margin);
  top: var(--top-header);
}

#section5 .currentnum {
  left: var(--margin);
  top: var(--margin);
}

#section6 .currentnum {
  right: var(--margin);
  top: var(--margin);
}


/* SECTION 1 */
#section1 img {
margin-bottom: var(--margin)
}

/* SECTION 3 */
#section3 {
  background-image: url("../img/storia/2.png");
  background-size: cover;
  background-color: var(--red);
}

/* SECTION 4 */

#section4 {
padding: var(--header-margin);
}

#section4 .s-text {
position: absolute;
top: var(--top-header);
/* padding: var(--header-margin) */
}

#section4 img {
  margin-bottom: calc(var(--margin)*2);
  transform:translate(0, -7%);
  width: 20vw;
}

/* SECTION 5 */
#section5 {
    background-image: url("../img/storia/4.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}


/* SECTION 6 */
#section6 img {
    padding: var(--header-margin);
    width: 100%;
    height: 100%;
    object-fit: contain;
}
